/* :host{
  width: 70vw;
  
  display: inline-block;
  position: absolute;
   left:15vw; 
   top:25vh;
} */
p,label{
  display: inline;
}
.mat-card-avatar {
  height: 45px;
  width: 46px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
.example-card {
  width: 13vw;
}
::ng-deep .mat-icon{
 margin-left: 1vw;
}
.activeIcons:hover{
  cursor: pointer;
  /* background-color: grey; */
  color: black;
}
.example-header-image {
  /* background-image: url('image/MP084.JPG');  */
 background-size: cover;
 background-color: darkkhaki;
 /* font-family: 'Karla', sans-serif; */
font-size: 30px;
font-weight: bold;
text-align: center;
}
.mat-card-avatar {
 height: 45px;
 width: 46px;
 border-radius: 50%;
 flex-shrink: 0;
 object-fit: cover;
}
/* ::ng-deep md-grid-tile.mat-grid-tile .mat-figure {
 align-items: initial;  /*vertical alignment
 justify-content: initial;  /*horizontal alignment
} */
.mat-card{
 font-family: 'Assistant';
 padding: 16px 10px 2px 10px;
 /* margin: 0vw 3vw 3vw 0vw; */
}
.mat-card-footer {
 display: block;
 margin: 0 1px 1px 0px;
 padding-top: 7px;
}
::ng-deep  .mat-card-image {
 width: 5vw;

border:green 5px solid;

}

.example-section {
display: flex;
align-content: center;
align-items: center;
height: 60px;
}
.mat-footer{
padding: 1.5vw;
margin-top: 1vh;
}
.example-margin {
margin: 0 26px;
padding-bottom: 4px;
}  