<div id="GroupRegisterUpdate">  
<h2>{{name}}</h2>
<h3>{{subject}}</h3>
<form #UpdateMemberGroupForm="ngForm">

  <label for="quantity">הכנס מס' נרשמים</label>
  <mat-form-field>
    <input type="number" #fr matInput [(ngModel)]="r.QuantityRegisters" [formControl]="quantityMember" pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$"
    min="1" onkeypress="return event.charCode != 45" name="quantity" required>

  </mat-form-field>
  <mat-error name="materror"  *ngIf="r.QuantityRegisters > different">מספר המקומות שנותרו הוא {{different}}</mat-error>

  <br><br>
  <mat-checkbox name="matCheckBox" [(ngModel)]="r.GetMessage">האם ברצונך לקבל הודעה ממנהל הקבוצה?</mat-checkbox>
  <br><br>

  <button mat-raised-button style="background-color:#eb3b52;color:white" (click)="UpdateMember()" [disabled]="!UpdateMemberGroupForm.form.valid|| r.QuantityRegisters > different"
    style="margin:3vw"matTooltip="עדכן">עדכון</button>

  <button mat-raised-button style="background-color:grey;color:white" [mat-dialog-close]="true" matTooltip="ביטול" >ביטול</button>

</form>
</div>